---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<movies_api_key>&query=godfather
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        of bloody revenge.","popularity":94.293,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","release_date":"1972-03-14","title":"The
        Godfather","video":false,"vote_average":8.7,"vote_count":17046},{"adult":false,"backdrop_path":"/zNnjHLDtV8Ti3aworltaeaLMov4.jpg","genre_ids":[80,18,53],"id":242,"original_language":"en","original_title":"The
        Godfather Part III","overview":"In the midst of trying to legitimize his business
        dealings in 1979 New York and Italy, aging mafia don, Michael Corleone seeks
        forgiveness for his sins while taking a young protege under his wing.","popularity":85.091,"poster_path":"/lm3pQ2QoQ16pextRsmnUbG2onES.jpg","release_date":"1990-12-2[...]
