

<%=button_to "Discover Movies", user_discover_path(@user), method: :get%>
<%@results.each do |result|%>
  <p>
    <div class="row">
      <div class="column">
  <%=link_to result[:title], user_movie_path(@user, result[:id]) %>
        <div class="column1">
          Vote Average: <%=result[:vote_average]%>
  <br>
        </div>
      </div>
  </div>
  </p>
<%end%>
