<h1><%=@user.name%>'s Dashboard</h1>

<div id= "discover">
<%=button_to "Discover Movies", user_discover_path(@user), method: :get%>
</div>

<% if @viewing_party.movie_title != nil %>
<%=@viewing_party.movie_title %>
<p><%=@viewing_party.duration %> minutes</p>
<% end %>
